# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

    - List popular languages for Data Science
    - List some commonly used libraries for Data Science
    - List few tools used for development Data Science
    - List sample math operations

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. SQL
    4. Scala
    5. C++
    6. Java

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas for 2D data frames
    2. NumPy for arrays and matrices
    3. Matplotlib for Visualization
    4. Seaborn for Visualization
    5. Scikit-Learn for Machine Learning
    6. Keras for Deep Learning

| Data Science Tools |
| -------------------|
| Jupyter Notebook |
| Jupyter Lab |
| R Studio |
| Spyder |
| Appache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
 # This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
J. K. Asante